body {
    font-family: 'Lato', sans-serif;
    color: #434343;
    background: #1095ce;
    margin: 50px 25px;

}

img {
    width: 40px;
    height: 40px;
    border-radius: 100px
}

.about {
    /*
    width: 736px;
    height: 1033px;
    */
    width: 20%;
    height: 20%;
    border-radius: 0px;
    float: left;
    vertical-align: top;
}

p {
        line-height: 20px;
        text-indent: 25px;
}

a {
    color: #1f9fbe;
    text-decoration: none;
}

body h2 {
    text-align: center;
}

nav {
    text-align: center;
}

a:hover {
    color: #df3f33;
}

header, footer, div.page {
    width: 760px;
    margin: 0 auto;
    background: #daeef3;
    padding: 20px 30px;
}

footer {
    text-align: center;
}

header h1 {
    color: #1f9fbe;
    margin: 0;
    font-weight: normal;
    font-size: 42px;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

div.page {
    background: #f1fbfe;
}
